In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)

In [3]:
df = pd.read_csv(r"C:\Users\hulsu\Downloads\IPL Data\matches.csv")
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [4]:
df.dtypes

id                   int64
season              object
city                object
date                object
match_type          object
player_of_match     object
venue               object
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
target_runs        float64
target_overs       float64
super_over          object
method              object
umpire1             object
umpire2             object
dtype: object

In [5]:
df['date'] = pd.to_datetime(df['date'])

In [6]:
df['Year'] = df['date'].dt.year
df['Month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [7]:
df.isnull().sum()

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
Year                  0
Month                 0
day                   0
dtype: int64

In [8]:
df['result_margin'].fillna(0, inplace=True)
df['target_runs'].fillna(0, inplace=True)
df['target_overs'].fillna(0, inplace=True)

In [9]:
df['method'].unique()

array([nan, 'D/L'], dtype=object)

In [10]:
df['method'].fillna('None',inplace=True)

In [11]:
df.isnull().sum()

id                  0
season              0
city               51
date                0
match_type          0
player_of_match     5
venue               0
team1               0
team2               0
toss_winner         0
toss_decision       0
winner              5
result              0
result_margin       0
target_runs         0
target_overs        0
super_over          0
method              0
umpire1             0
umpire2             0
Year                0
Month               0
day                 0
dtype: int64

In [12]:
df[df['winner'].isnull()]

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Year,Month,day
241,501265,2011,Delhi,2011-05-21,League,NaN,Feroz Shah Kotla,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,NaN,no result,0.0,0.0,0.0,N,None,SS Hazare,RJ Tucker,2011,5,21
485,829763,2015,Bangalore,2015-04-29,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,0.0,0.0,0.0,N,None,JD Cloete,PG Pathak,2015,4,29
511,829813,2015,Bangalore,2015-05-17,League,NaN,M Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,NaN,no result,0.0,188.0,20.0,N,None,HDPK Dharmasena,K Srinivasan,2015,5,17
744,1178424,2019,Bengaluru,2019-04-30,League,NaN,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,no result,0.0,63.0,5.0,N,None,NJ Llong,UV Gandhe,2019,4,30
994,1359519,2023,Lucknow,2023-05-03,League,NaN,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow Super Giants,Chennai Super Kings,Chennai Super Kings,field,NaN,no result,0.0,0.0,0.0,N,None,AK Chaudhary,NA Patwardhan,2023,5,3

In [13]:
df['winner'].fillna('No result',inplace=True)
df['player_of_match'].fillna('None',inplace=True)

In [14]:
df[df['city'].isnull()]['venue'].unique()

array(['Sharjah Cricket Stadium', 'Dubai International Cricket Stadium'],
      dtype=object)

In [15]:
df.loc[df['venue'] == 'Dubai International Cricket Stadium', 'city'] = df.loc[df['venue'] == 'Dubai International Cricket Stadium', 'city'].fillna('Dubai')
df.loc[df['venue'] == 'Sharjah Cricket Stadium', 'city'] = df.loc[df['venue'] == 'Sharjah Cricket Stadium', 'city'].fillna('Sharjah')

In [16]:
df.isnull().sum()

id                 0
season             0
city               0
date               0
match_type         0
player_of_match    0
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
target_runs        0
target_overs       0
super_over         0
method             0
umpire1            0
umpire2            0
Year               0
Month              0
day                0
dtype: int64

In [17]:
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Year,Month,day
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,None,Asad Rauf,RE Koertzen,2008,4,18
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,None,MR Benson,SL Shastri,2008,4,19
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,None,Aleem Dar,GA Pratapkumar,2008,4,19
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,None,SJ Davis,DJ Harper,2008,4,20
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,None,BF Bowden,K Hariharan,2008,4,20

In [18]:
df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', 'Sharjah', 'Dubai', 'Rajkot', 'Kanpur', 'Bengaluru',
       'Navi Mumbai', 'Lucknow', 'Guwahati', 'Mohali'], dtype=object)

In [19]:
df['city'] = df['city'].replace({
    'Bangalore': 'Bengaluru',
    'Chandigarh': 'Mohali'
})

In [20]:
df['city'].nunique()

34

In [21]:
df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [22]:
df['team2'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [23]:
team_map = {
    'Royal Challengers Bangalore': 'RCB',
    'Royal Challengers Bengaluru': 'RCB',
    'Kolkata Knight Riders':'KKR',
    'Mumbai Indians':'MI',
    'Chennai Super Kings':'CSK',
    'Kings XI Punjab':'KXIP',
    'Rajasthan Royals':'RR',
    'Delhi Daredevils':'DD',
    'Sunrisers Hyderabad':'SRH',
    'Deccan Chargers': 'DCH',
    'Delhi Capitals':'DC',
    'Pune Warriors':'PW',
    'Punjab Kings':'PK',
    'Rising Pune Supergiant':'RPS',
    'Rising Pune Supergiants':'RPS',
    'Gujarat Lions':'GL',
    'Kochi Tuskers Kerala':'KTK',
    'Gujarat Titans': 'GT',
    'Lucknow Super Giants':'LSG',
    'No result':'NR'
}

In [24]:
df['team1'] = df['team1'].map(team_map)
df['team2'] =df['team2'].map(team_map)
df['toss_winner'] = df['toss_winner'].map(team_map)
df['winner'] = df['winner'].map(team_map)

In [25]:
df['team1'].unique(),df['team2'].unique()

(array(['RCB', 'KXIP', 'DD', 'MI', 'KKR', 'RR', 'DCH', 'CSK', 'KTK', 'PW',
        'SRH', 'GL', 'RPS', 'DC', 'PK', 'LSG', 'GT'], dtype=object),
 array(['KKR', 'CSK', 'RR', 'RCB', 'DCH', 'KXIP', 'DD', 'MI', 'KTK', 'PW',
        'SRH', 'RPS', 'GL', 'DC', 'PK', 'GT', 'LSG'], dtype=object))

In [26]:
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Year,Month,day
0,335982,2007/08,Bengaluru,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,RCB,KKR,RCB,field,KKR,runs,140.0,223.0,20.0,N,None,Asad Rauf,RE Koertzen,2008,4,18
1,335983,2007/08,Mohali,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",KXIP,CSK,CSK,bat,CSK,runs,33.0,241.0,20.0,N,None,MR Benson,SL Shastri,2008,4,19
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,DD,RR,RR,bat,DD,wickets,9.0,130.0,20.0,N,None,Aleem Dar,GA Pratapkumar,2008,4,19
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,MI,RCB,MI,bat,RCB,wickets,5.0,166.0,20.0,N,None,SJ Davis,DJ Harper,2008,4,20
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,KKR,DCH,DCH,bat,KKR,wickets,5.0,111.0,20.0,N,None,BF Bowden,K Hariharan,2008,4,20

In [27]:
df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'Year', 'Month', 'day'],
      dtype='object')

In [28]:
df['Teams'] = df['team1'] + ' vs ' + df['team2']

In [29]:
df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,Year,Month,day,Teams
0,335982,2007/08,Bengaluru,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,RCB,KKR,RCB,field,KKR,runs,140.0,223.0,20.0,N,None,Asad Rauf,RE Koertzen,2008,4,18,RCB vs KKR
1,335983,2007/08,Mohali,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",KXIP,CSK,CSK,bat,CSK,runs,33.0,241.0,20.0,N,None,MR Benson,SL Shastri,2008,4,19,KXIP vs CSK
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,DD,RR,RR,bat,DD,wickets,9.0,130.0,20.0,N,None,Aleem Dar,GA Pratapkumar,2008,4,19,DD vs RR
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,MI,RCB,MI,bat,RCB,wickets,5.0,166.0,20.0,N,None,SJ Davis,DJ Harper,2008,4,20,MI vs RCB
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,KKR,DCH,DCH,bat,KKR,wickets,5.0,111.0,20.0,N,None,BF Bowden,K Hariharan,2008,4,20,KKR vs DCH

In [39]:
# Select required columns
df_selected = df[['id', 'date', 'match_type','team1','team2', 'venue', 'toss_winner', 'toss_decision', 
                  'winner', 'result', 'result_margin', 'target_runs', 'player_of_match', 'umpire1', 'umpire2']].copy()

# Create 'teams' column by combining 'team1' and 'team2'
df_selected['teams'] = df['team1'] + ' vs ' + df['team2']

# Calculate 1st innings score (target_runs - 1)
df_selected['1st_innings_score'] = df['target_runs'] - 1

# Calculate 2nd innings score (win margin + 1st innings score)
df_selected['2nd_innings_score'] =  df_selected['1st_innings_score'] - df['result_margin']

# Reorder the columns with 'player_of_match' before umpires
df_selected = df_selected[['id', 'date', 'match_type', 'teams','team1','team2', 'venue', 'toss_winner', 
                           'toss_decision', 'winner', 'result', 'result_margin', 
                           '1st_innings_score', '2nd_innings_score', 'player_of_match', 'umpire1', 'umpire2']]

# Display the cleaned dataframe
df_selected.head()

,id,date,match_type,teams,team1,team2,venue,toss_winner,toss_decision,winner,result,result_margin,1st_innings_score,2nd_innings_score,player_of_match,umpire1,umpire2
0,335982,2008-04-18,League,RCB vs KKR,RCB,KKR,M Chinnaswamy Stadium,RCB,field,KKR,runs,140.0,222.0,82.0,BB McCullum,Asad Rauf,RE Koertzen
1,335983,2008-04-19,League,KXIP vs CSK,KXIP,CSK,"Punjab Cricket Association Stadium, Mohali",CSK,bat,CSK,runs,33.0,240.0,207.0,MEK Hussey,MR Benson,SL Shastri
2,335984,2008-04-19,League,DD vs RR,DD,RR,Feroz Shah Kotla,RR,bat,DD,wickets,9.0,129.0,120.0,MF Maharoof,Aleem Dar,GA Pratapkumar
3,335985,2008-04-20,League,MI vs RCB,MI,RCB,Wankhede Stadium,MI,bat,RCB,wickets,5.0,165.0,160.0,MV Boucher,SJ Davis,DJ Harper
4,335986,2008-04-20,League,KKR vs DCH,KKR,DCH,Eden Gardens,DCH,bat,KKR,wickets,5.0,110.0,105.0,DJ Hussey,BF Bowden,K Hariharan

In [40]:
df_selected.dtypes

id                            int64
date                 datetime64[ns]
match_type                   object
teams                        object
team1                        object
team2                        object
venue                        object
toss_winner                  object
toss_decision                object
winner                       object
result                       object
result_margin               float64
1st_innings_score           float64
2nd_innings_score           float64
player_of_match              object
umpire1                      object
umpire2                      object
dtype: object

In [41]:
df_selected['result_margin'] = df_selected['result_margin'].astype('Int64')
df_selected['1st_innings_score'] = df_selected['1st_innings_score'].astype('Int64')
df_selected['2nd_innings_score'] = df_selected['2nd_innings_score'].astype('Int64')

In [42]:
df_selected.dtypes

id                            int64
date                 datetime64[ns]
match_type                   object
teams                        object
team1                        object
team2                        object
venue                        object
toss_winner                  object
toss_decision                object
winner                       object
result                       object
result_margin                 Int64
1st_innings_score             Int64
2nd_innings_score             Int64
player_of_match              object
umpire1                      object
umpire2                      object
dtype: object

In [48]:
df_selected.to_csv(r"C:\Users\hulsu\Downloads\IPL Data\matches_data_cleaned.csv", index=False)